@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo.svg);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volver{
  display: flex;
  justify-content: center;
  align-items: center;
}
.volver a {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: #773611ff;
  border-radius: 6px;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.img1{
  background-image: url(../img/7.png);
}
.img2{
  background-image: url(../img/2.png);
}
.img3{
  background-image: url(../img/3.png);
}
.img4{
  background-image: url(../img/4.png);
}
.img5{
  background-image: url(../img/5.png);
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(0),
  .panel:nth-of-type(0) {
    display: none;
  }

  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 2px;
    position: relative;
  }
}

