@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.bgVerde {
  background-color: rgb(182, 187, 24, 1);
}

.volver {
  display: flex;
  margin-top: 30px;
}

.volver a {
  color: #fff;
  text-decoration: none;
  background-color: #773611ff;
  padding: 10px;
  border-radius: 6px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.receta{
  background-image: url(../img/fondo.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.receta img{
  border-radius: 10px;
}


@media (max-width: 480px) {

  ul, li{
    font-size: 10px;
    list-style: none;
  }

  .bgVerde {
    background-color: rgb(182, 187, 24,  1);
  }

  .volver {
    display: flex;
    margin-top: 30px;
  }

  .volver a {
    color: #fff;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    background-color: #773611ff;
    padding: 10px;
    border-radius: 6px;
    width: 100px;
  }

  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .left-slide {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }

  .left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .left-slide h1 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -30px;
  }

  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    transition: transform 0.5s ease-in-out;
  }

 
  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }

  button:hover {
    color: #222;
  }

  button:focus {
    outline: none;
  }

  .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 70%;
    z-index: 100;
  }

  .slider-container .action-buttons .down-button {
    transform: translateX(-90%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .slider-container .action-buttons .up-button {
    transform: translateY(-0%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .receta{
    background-image: url(../img/fondo.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .receta img{
    width: 200px;
    border-radius: 10px;
    margin: 10px;
  }
}
